button{
	cursor:pointer;
}

#filtres{
	
}

#selectAcount{
	position: absolute;
	left: 16px;
	top: 15px;
	font-size: 19px;
}

#recherche{
	width : 100%;
}

.filtre{
	position:relative;
	width : 605px;
	margin: 15px 15px 15px 15px;
	padding: 5px 10px 10px 10px;
	box-shadow: 3px 3px 10px #b7b7b7;
}

.headerFiltre{
	text-align: center;
	margin-top: 0px;
	/* margin-right: auto; */
	margin-bottom: 0px;
	/* margin-left: auto; */
	font-weight: bold;
	font-size:1.3em;
	cursor:pointer;
	/* width: 80%; */
}
.titreFiltre{
	/* text-align: center; */
	display:inline-block;
	/* margin-top: 0px; */
	/* margin-right: auto; */
	/* margin-bottom: 0px; */
	/* margin-left: auto; */
	/* font-weight: bold; */
	/* font-size:1.3em; */
	/* cursor:pointer; */
	/* width: 80%; */
}

.titreFiltre:hover{
	text-decoration:underline;
}

.repli,.depli{
	position: absolute;
	top: 5px;
	left: 5px;
	cursor: pointer;
	width: 23px;
	height: 23px;
	text-align: center;
	border: 1px black solid;
	border-radius: 8px;
	font-weight: bold;
	background:#fff;
	box-shadow: 2px 2px 2x #b7b7b7;
}

.repli:hover,.depli:hover{
	text-shadow: 1px 1px 1px #9e9e9e;
	box-shadow: 2px 2px 5px #b7b7b7;
	/* background:#fef; */
}

.supFiltre{
	position:absolute;
	top:0px;
	right:0px;
	padding:9px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	text-align: right;
}

.supFiltre:hover{
	text-shadow: 2px 2px 1px #9e9e9e;
}

.etOu{
	margin:18px 2px 5px -4px;
}

.lineCondi input[type=text]{
	width: 290px;
}

.electElement{
	margin:5px;
}

.selectCondition{
	margin:5px;
}

.ajouter{
	margin-top:-8px;
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;
	cursor:pointer;
	color: green;
}

.ajouter:hover{
	text-shadow: 2px 2px 1px #9e9e9e;
}

.dest{
	width : 100%;
	cursor:poiter;
}


#ajout_filtre{
	color:white;
	box-shadow: grey 3px 3px 3px;
	margin: 10px 15px 0px 0px;
	background:#0c8669;
	height: 34px;
	font-size: 23px;
	cursor:pointer;
}

#divSave{
	text-align: right;
}

#save{
	color:white;
	box-shadow: grey 3px 3px 3px;
	margin: 10px 10px 0px 0px;
	background:#0060DF;
	height: 34px;
	width: 66px;
	font-size: 23px;
	cursor:pointer;
}

.explorer{
	background: white;
	position: absolute;
	left: 10px;
	bottom: 32px;
	width: 585px;
	height: 128px;
	border: solid black 1px;
	overflow-y: scroll;
	display:none;
	padding: 2px;
}

.folder{
	display: inline-block;
	width: 135px;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	margin-right: 5px;
}

.folder:hover{
	background:#ddf
}

.folder:hover .unChecked{
	display:block;
}

.icoFolder{
	font-size:14px;
}
.icoFolderRetour{
	color: blue;
	font-size: 22px;
	font-weight: bold;
	margin-left: 2px;
	line-height: 71%;
}

.valideFolder{
	display:none;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor:pointer;
	width:70px;
}

.parcourir{
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor:pointer;
	width:80px;
}

.checked,.unChecked{
	position: absolute;
	right: 0px;
	top: 3px;
	height: 19px;
	width: 22px;
	color: #888;
	border: solid #777 1px;
	text-align: center;
	border-radius: 3px;
	background: white;
	
}
.unChecked{
	display: none;
}


.checked:hover,.unChecked:hover{
	background:#0060DF;
	color:#fff;
	border: solid black 1px;
}

.checked{
	background:#0060DF;
	color:white;
	border: solid black 1px;
}

#export{
	/* color:white; */
	box-shadow: grey 3px 3px 3px;
	margin: 10px 10px 0px 0px;
	/* background:#B60000; */
	height: 34px;
	font-size: 23px;
}

#impExp{
	position : relative;
	margin: auto;
	margin-top:10px;
	width:90%;
	/* height:400px; */
	background:white;
	border-radius:10px;
	box-shadow: black 2px 2px 30px;
	padding: 10px;
	text-align:center;
	display:none;
}

.titre{
	text-align:center;
	font-size: 23px;
	margin-bottom:15px;
	font-weight:bold;
}

#fermerImport{
	position:absolute;
	top:0px;
	right:19px;
	padding:9px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	text-align: right;
}

#textToImp{
	width: 100%;
	height:280px;
}

#import	{
	color:white;
	box-shadow: grey 3px 3px 3px;
	margin: 10px 45px 0px 0px;
	background:#0c8669;
	height: 34px;
	font-size: 23px;
}
